<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/popularbatches.css">
</head>
<body>
    
    <div class="container">
        <!-- Main Content -->

        <%- include('../components/admin-sidebar.ejs') %>

        <div class="main-content" style="margin-left: 250px; padding: 20px;">
        
            <div class="enrolled-courses">
              <div class="unique-container">

              <div class="unique-card-container">

            <% allBatches.forEach(batch => { %>
                <div class="unique-card">
                 <img alt="Prayas JEE 90 days Crash Course 2025" height="150" src="<%=batch.thumbnail%>" width="300"/>
                 <div class="unique-title">
                  <%=batch.title%>
                 </div>
                
                 <div class="unique-details">
                  <div class="unique-icon-text">
                   <i class="fas fa-calendar-alt">
                   </i>
                   <span>
                    Starts on 21 Oct, 2024 | Ends on 30 Jun, 2025
                   </span>
                  </div>
                 </div>
                 <div class="unique-price">
                  ₹<%=batch.amount%>
                  <del>
                   ₹<%=batch.amount*2%>
                  </del>
                 </div>
                 <div class="unique-discount">
                  <i class="fas fa-tag">
                  </i>
                  <span>
                   Discount of 50% applied
                  </span>
                 </div>
                 <div class="unique-buttons">
                  <!-- Show Study button if purchased or admin -->
                 
                      <a class="unique-buy-now" style="text-decoration: none; color: white; padding-right:5px ; padding-left: 5px; border-radius: 10px;" href="/showbatch/<%= batch._id %>">
                         <button class="unique-buy-now">
                          View
                         </button>
                      </a>
            </div>
        </div>
          <% }) %>
              
           
        </div>
          </div>
        </div>
        
        </div>
    </div>

</body>
</html>
